.jumbotron {
  padding-top: 6rem;
  background-color: #d2e3c8;
  text-align: center;
}
#projects {
  background-color: #d2e3c8;
}
h1 {
  font-family: optima;
}
section {
  padding-top: 5rem;
}
footer {
  background-color: #4f6f52;
  color: #ffffff;
}
